/* General*/
body{
    background-image: url("../images/gravel.png");
    font-family: "Roboto Condensed", sans-serif;
    background-color: #dfdfdf;
    }

/*Main Header*/


.navbar-nav li a:hover {
    background-color: #11847e;
    color:#fff;
    

}
  

/*contact*/
.contact {
    margin: 100px 0 200px 0;
    width:64%;
    background-color:#fff;
    position: relative;
    left:50%;
    transform: translate(-50%);
    border-radius: 25px;
    border: 10px solid  #b2dfdb  ;
}
.contact-title {
    text-align: center;
    color:#11847e;
    font-size:20px;
    Padding: 20px;
}

.contact-header-line {
    height:3px;
    background-color:#c3c5c9;
    width:100%;
    margin-bottom:25px;

}




/* footer*/

.footer-line    {
    position:fixed;
    bottom:60px;
    width:100%;
    height: 8px;
    background-color: #11847e;
}
.main-footer    {
    position:fixed;
    bottom:0px;
    width: 100%;
    height:60px;
    background-color:#41464B;
}
.main-footer h3 {
    font-size:10px;
    font-weight: 100;
    color:#fff;
    
    text-align: center;

}
/* navbar  */


.navbar {
    background-color: #11847e;
    color:black;
    position: fixed;
    top:0;
    z-index: 4;
    
}
.navbar-toggler{
    margin:10px;
}
.header-name {
    margin-right:10px;
    color:#fff;
    text-align: center;
}

.nav-item { 
    height:54px;
    padding:0 10px 0 10px;
}
.nav-link {
    height:54px;
   
}
.link-email{
    position: relative;
    left:50%;
    transform: translate(-50%);

}

.resume-button {
    position: relative;
    left:50%;
    transform: translate(-50%);
    margin: 50px auto 50px auto;
}
.link-button {
    position: relative;
    left:50%;
    transform: translate(-50%); 
    margin: 50px auto 50px auto;
}


.link-email:hover {
    background-color: #11847e;
    color:#fff;
    

}
.resume-button:hover {
    background-color: #11847e;
    color:#fff;
    

}
.link-button:hover {
    background-color: #11847e;
    color:#fff;
    

}

