/* General*/
body{
    background-image: url("../images/gravel.png");
    font-family: "Roboto Condensed", sans-serif;
    background-color: #dfdfdf;
    }

/*Main Header*/
.navbar-nav li a:hover {
    background-color: #11847e;
    color:#fff;
    

}

/*portfolio*/

#portfolio-id .row{
    width:80%;
    margin:0 10% 0 10%;
}
.portfolio-container-1{
    margin: 100px 0 200px 0;
    padding: 0 0 0 0;
    border-radius: 25px;
    border: 10px solid #b2dfdb ;
    background-color:#fff;
    position:relative;
    width:80%;

    
}
.portfolio-title {
    color:#11847e;
    font-size:20px;
    Padding: 20px;
}

.portfolio-header-line {
    height:3px;
    background-color:#c3c5c9;
    width:100%;

}
.project-holder {
    padding: 0 0 0 0;
    margin-top:30px;
    margin-bottom:30px;
}
.project-one {
    background-image:url("../images/cat1.jpg");
    width: 240px;
    height:240px;
    border-radius: 25px;
    border: 3px solid #4a5e5c;
    background-size:cover;
    position: relative;
    left:50%;
    transform: translate(-50%);
    
    

    
}
.project-title {
    background-color:#11847e;
    color:#fff;
   position: relative;
   top:160px;
    width:234px;
    height:40px;
    

}
.project-title h3{
    font-size:18px;
    font-weight:200;
    margin:0 auto 0 auto;
    text-align: center;
   
}


.project-two {
    background-image:url("../images/cat2.jpg");
    width: 240px;
    height:240px;
    border-radius: 25px;
    border: 3px solid #4a5e5c;
    background-size:cover;
    position: relative;
    left:50%;
    transform: translate(-50%);

}


.project-three {
    background-image:url("../images/cat2.jpg");
    width: 240px;
    height:240px;
    border-radius: 25px;
    border: 3px solid #4a5e5c;
    background-size:cover;
    position: relative;
    left:50%;
    transform: translate(-50%);

}

.project-four {
    background-image:url("../images/cat3.jpg");
    width: 240px;
    height:240px;
    border-radius: 25px;
    border: 3px solid #4a5e5c;
    background-size:cover;
    position: relative;
    left:50%;
    transform: translate(-50%);

}

.page-link {
    background-color:#11847e;
    color:#fff;
    font-size:16px;
    font-weight:200;
    width:240;
    height:40px;
    

}
.project-five {
    background-image:url("../images/cat4.jpg");
    width: 240px;
    height:240px;
    border-radius: 25px;
    border: 3px solid #4a5e5c;
    background-size:cover;
    position: relative;
    left:50%;
    transform: translate(-50%);

}


.project-seven {
    background-image:url("../images/cat5.jpg");
    width: 240px;
    height:240px;
    border-radius: 25px;
    border: 3px solid #4a5e5c;
    background-size:cover;
    position: relative;
    left:50%;
    transform: translate(-50%);

}



/* footer*/
.footer {
    z-index: 10;
}
.footer-line    {
    z-index: 10;
    position:fixed;
    bottom:60px;
    width:100%;
    height: 8px;
    background-color: #11847e;
}
.main-footer    {
    z-index: 11;
    position:fixed;
    bottom:0px;
    width: 100%;
    height:60px;
    background-color:#41464B;
}
.main-footer h3 {
    z-index: 12;
    font-size:10px;
    font-weight: 100;
    color:#fff;
    
    text-align: center;

}
/* navbar  */


.navbar {
    background-color: #11847e;
    color:black;
    position: fixed;
    top:0;
    z-index: 4;
    
}
.navbar-toggler{
    margin:10px;
}
.header-name {
    margin-right:10px;
    color:#fff;
    text-align: center;
}

.nav-item { 
    height:54px;
    padding:0 10px 0 10px;
}
.nav-link {
    height:54px;
   
}
@media only screen and (max-width: 990px) {
    #portfolio-id .row{
        width:100%;
        Margin: 0 0 0 0;
    }
    .portfolio-container-1{
        margin: 100px 0 200px 0;
        padding: 0 0 0 0;
        background-color:#fff;
        position:relative;
        width:100%;
    
        
    }
}