/* General*/
body{
background-image: url("../images/gravel.png");
background-color: #dfdfdf;
font-family: 'Roboto Condensed', sans-serif;
}

/*Main Header*/







.navbar-nav li a:hover {
    background-color: #11847e;
    color:#fff;
    

}
  


/* about me*/
.main-body{
    border-radius: 25px;
    border: 10px solid  #b2dfdb  ;
    margin: 100px 0 200px 0;
    padding: 0 0 0 0;
    background-color:#fff;
   
}

.main-body-title h2{
    
        color:#11847e;
        font-size:30px;
        Padding: 20px;
        font-weight: 500;
}
.img-wrapper-main{
    float:left;
    border-radius: 25px;
    background: url("../images/kitty.jpg");
    background-size: cover;
    padding: 20px; 
    width: 150px;
    height: 150px;
}

.words {
    line-height: 1.5;
}
.words p {
    padding:0 0 0 10px;
    margin: 0 0 0 10px;
}
.main-body-title {
    margin: 0 0 60px 0;
    padding: 0 0 60px 0;
}
/* footer*/

.footer-line    {
    position:fixed;
    bottom:60px;
    width:100%;
    height: 8px;
    background-color: #11847e;
}
.main-footer    {
    position:fixed;
    bottom:0px;
    width: 100%;
    height:60px;
    background-color:#41464B;
}
.main-footer h3 {
    font-size:10px;
    font-weight: 100;
    color:#fff;
    
    text-align: center;
}

/* navbar  */


.navbar {
    background-color: #11847e;
    color:black;
    position: fixed;
    top:0;
    z-index: 4;
    
}
.navbar-toggler{
    margin:10px;
}
.header-name {
    margin-right:10px;
    color:#fff;
    text-align: center;
}

.nav-item { 
    height:54px;
    padding:0 10px 0 10px;
}
.nav-link {
    height:54px;
   
}





